/* start personal themes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, tahoma;
    background-image: url(../Images/7610-stars-galaxy-space-sky.jpg);
}

.text-align{
    text-align: center;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear-fix{
    clear: both;
}

.h1{
    font-size: 2em;
}

.container{
    margin: auto;
    width: 80%;
    overflow: hidden;
}
/* end personal themes */

/* start section all */
.all .container h1{
    color: #fff;
    font-size: 40px;
    margin-top: 54px;
    font-family: system-ui;
    display:grid;
}
/* end section all */

/* start aside-left */
aside-left{
    background-color: #45459854;
    padding: 28px 10px;
    width: 29%;
    margin-left: 20%;
    margin-top: 50px;
    border: 1px solid #fff;
}

aside-left h2{
    color: #fff;
    margin-bottom: 10px;
}

aside-left .container img{
    width: 100px;
    height: 100px;
    border-radius: 51px;
    border: 1px solid #fff;
    cursor: pointer;
}

aside-left .container form input[class="first"]{
    margin: 17px 0px 17px 0px;
    width: 100%;
    padding: 7px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

aside-left .container form input[class="second"]{
    margin-bottom: 17px;
    width: 100%;
    padding: 7px;
    background: none;
    border: 1px solid #fff;
}

aside-left .container form input[class="third"]{
    float: left;
}

aside-left .container form label{
    float: left;
    margin-left: 5px;
    font-size: 14px;
    color: #adadad;
}

aside-left .container form h4{
    float: right;
    font-size: 14px;
    color: #fff;
}

aside-left .container form input[class="fourth"]{
    margin-top: 20px;
    background-color: #ff3c3c;
    color: #fff;
    width: 100%;
    padding: 7px;
    border: 1px solid #ff3c3c;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 17px;
}

aside-left .container form h5{
    color: #fff;
    margin-bottom: 10px;
}

aside-left .container form i[class="fab fa-facebook-f"]{
    color: #fff;
    background-color: blue;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

aside-left .container form i[class="fab fa-twitter"]{
    color: #fff;
    background-color: #61c9f1;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

aside-left .container form i[class="fab fa-google-plus-g"]{
    color: #fff;
    background-color: red;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

/* start media for aside-left */

@media(max-width: 767px){                                             /* mobile and tablet screen rules*/
    .all .container h1{
        font-size: 20px;
    }

    aside-left{
        width: 40%;
        margin-left: 30%;
    }

    aside-left h2{
        font-size: 20px;
    }
}

@media(min-width: 768px) and (max-width: 991px){                       /* small screen rules*/
    .all .container h1{
        font-size: 30px;
    }

    aside-left{
        width: 80%;
        margin-left: 10%;
    }

    aside-left h2{
        font-size: 20px;
    }
}

@media(min-width: 992px) and (max-width: 1199px){                       /* meduim screen rules*/
    .all .container h1{
        font-size: 30px;
    }

    aside-left{
        width: 40%;
        margin-left: 30%;
    }

    aside-left h2{
        font-size: 20px;
    }
}

/* start media for aside-left */
/* end aside-left */


/* start aside-right */

aside-right{
    background-color: #45459854;
    padding: 24px 10px;
    width: 29%;
    margin-right: 20%;
    margin-top: 50px;
    border: 1px solid yellow;
}

aside-right h2{
    color: #fff;
    margin-bottom: 10px;
}

aside-right .container img{
    width: 100px;
    height: 100px;
    border-radius: 51px;
    border: 1px solid #fff;
    cursor: pointer;
}

aside-right .container form input[class="first"]{
    margin: 17px 0px 17px 0px;
    width: 100%;
    padding: 7px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

aside-right .container form input[class="second"]{
    margin-bottom: 17px;
    width: 100%;
    padding: 7px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

aside-right .container form input[class="three"]{
    margin-bottom: 17px;
    width: 100%;
    padding: 7px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

aside-right .container form label{
    float: left;
    margin-left: 5px;
    font-size: 14px;
    color: #adadad;
}

aside-right .container form h4{
    float: right;
    font-size: 14px;
    color: #fff;
}

aside-right .container form input[class="fourth"]{
    margin-top: 20px;
    background-color: #ff3c3c;
    color: #fff;
    width: 100%;
    padding: 7px;
    border: 1px solid #ff3c3c;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 17px;
}

aside-right .container form h5{
    color: #fff;
    margin-bottom: 10px;
}

aside-right .container form label {
    float: none;
}

/* start media for aside-right */

@media(max-width: 767px){                                             /* mobile and tablet screen rules*/
    aside-right{
        width: 40%;
        margin-right: 30%;
    }

    aside-left h2{
        font-size: 20px;
    }
}

@media(min-width: 768px) and (max-width: 991px){                       /* small screen rules*/
    aside-right{
        width: 80%;
        margin-right: 10%;
    }

    aside-left h2{
        font-size: 20px;
    }
}

@media(min-width: 992px) and (max-width: 1199px){                       /* meduim screen rules*/
    aside-right{
        width: 40%;
        margin-right: 30%;
    }

    aside-left h2{
        font-size: 20px;
    }
}

/* start media for aside-left */
/* end aside-left */



/* end aside-right */






















































































